* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0,0,100,.35),rgba(0,0,100,.35)),url('./assets/eco-office.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
}

/******header******/
/******************/
.header .container {
  min-height: 4rem;
  background-color: rgba(33, 97, 140);
  /* position: fixed;*/
  z-index: 1;
  right: 0;
  left: 0; 
  position: fixed;
  margin: 0 auto;
}
.header .container > .row {
  min-height: inherit;
}
/* ******Main****** */
/********************/
.App{
  display: flex;
  flex-direction: column;
}

main .container{
  padding: 1.5rem;
}
.form-search{
  margin-top: 8rem;
}

.user-list {
  /* background-color: rgba(33, 97, 140, 0.9); */
  /* background-color: ; */
  
}
.user-list .card {
  height: 15rem;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}
.btn-create {
  color: white;
  background-color: #5564eb;
}

/******Modals******/
/******************/
.my-modal {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.my-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(33, 97, 140,.9);
  margin: 0 auto;
  animation: showModal 700ms;

}
.generic-modal_container {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.generic-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: fixed;
  width: 50%;
  height: 25%;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(33, 97, 140);
  margin: 0 auto;
  animation: showModal 700ms;
}

@keyframes showModal {
  0% {
    opacity: 0.5;
    top: 5%;
  }
  50% {
    opacity: 0.8;
    top: 10.5%;
  }
  100% {
    opacity: 1;
    top: 10%;
  }
}

/******End Modals******/
/******************/

@media screen and (min-width:576px) {

  /* body{
    background-color: red;
  } */
  .form-search form{
    width: 75%;
    margin:auto;
  }
  
}

@media screen and (min-width:768px) {

  /* body{
    background-color: red;
  } */
  .form-search form{
    width: 50%;
    margin:auto;
  }
  
}

@media screen and (min-width:992px) {

  /* body{
    background-color: red;
  } */
  .form-search form{
    width: 35%;
    margin:auto;
  }
  
}
