* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root,.App{
  height: 100%;
}
/******header******/
.header .container{
  min-height: 4rem;
  background-color: lightblue;
}

.header .container >.row{
  min-height:inherit

}
/* ******Main****** */
.btn-create{
  color:white;
  background-color: #5564eb;
}

/******Modal******/
.my-modal .container{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index:1;
  background-color: rgba(33,97,140, 0.9);
}

.my-modal .container form{
  /* opacity: 1; */
}
