* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root,
.App {
  min-height: 100%;
}

body {
  position: relative;
  background: url('./assets/oficina.webp') no-repeat;
  background-size: cover;
}

/******header******/
.header .container {
  min-height: 4rem;
  /* background-color: lightblue; */
  background-color: rgba(33, 97, 140, 0.8);
}
.header .container > .row {
  min-height: inherit;
}

/* ******Main****** */

.user-list {
  background-color: rgba(33, 97, 140, 0.9);
}

.user-list .card {
  height: 18rem;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}
.btn-create {
  color: white;
  background-color: #5564eb;
}

/******Modals******/
.my-modal {
  position: absolute;
  min-width: 100%;
  min-height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(33, 97, 140, 0.9);
  margin: 0;
}
.my-modal .container {
  position: sticky;
  min-width: auto;
  min-height: 100vh;
  margin: 0;
  top: 0;
}
